doctype html

{% load static %}

html(lang='pt-br', ng-app="dicom")
head
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    title
        block title
            | Dicom
    block script
    block stylesheets

body
    div(ng-view)

    script(src='{% static "bower_components/angular/angular.min.js" %}')
    script(src='{% static "bower_components/angular-route/angular-route.min.js" %}')
    script(src='{% static "bower_components/angular-resource/angular-resource.min.js" %}')
    script(src='{% static "bower_components/angular-cookie/angular-cookie.min.js" %}')

    script(src='{% static "js/app/app.js" %}')
    script(src='{% static "js/app/controllers/cliente-controller.js" %}')
    script(src='{% static "js/app/service/cliente-service.js" %}')