doctype html

{% load static %}

html
    head
        meta(charset='utf-8')
        title
            block title
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
        link(href="{% static 'css/reset.css' %}" rel="stylesheet")
        link(href="{% static 'css/estilos.css' %}" rel="stylesheet")

    body
        .container

            .header
                h3 Dicom

            .menu
                nav.menu-opcoes
                    ul
                        li
                            a(href="{% url 'clientes:cliente_list' %}") Clientes
                        li
                            a(href="#") Projetos
                        li
                            a(href="#") Tarefas

            .content
                block content

            .infos
                p lorem ipsu

            .footer
                p Copyright - Todos direitos reservados