doctype html

{% load static %}

html(lang='pt-br', ng-app="dicom")
head
    meta(charset='utf-8')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
    title
        block title
            | Dicom
    block script
    block stylesheets

body
    div(ng-view)

    label Nome:
    input(type="text", ng-model="nome", placeholder="Digite seu nome")
    hr
    {[{ nome }]}

    script(src='{% static "bower_components/angular/angular.min.js" %}')
    script(src='{% static "bower_components/angular-route/angular-route.min.js" %}')

    script(src='{% static "js/app/app.js" %}')
    script(src='{% static "js/app/controllers/cliente-controller.js" %}')