extends 'base.jade'

block content
    h1 Clientes
    table
        thead
            td Nome
            td Editar
            td Exluir
        tbody
            each cliente in object_list
                tr
                    td #{cliente.nome}        
                    td 
                        a(href="{% url 'clientes:cliente_edit' cliente.id %}") edit 
                    td 
                        a(href="{% url 'clientes:cliente_delete' cliente.id %}") delete
    
    a(href="{% url 'clientes:cliente_new' %}") new
