extends base.jade

{% load crispy_forms_tags %}

block script
    script(type="text/javascript")
        $(document).ready(function() {
            $("#new-configuracao").click(function () {
                $("#myModal").modal('show');
                $('.form-contato').hide();
            });

            if ('#{status}' === 'create') {
                $("#liContato").addClass("disabled");
                $("#aContato").removeAttr("data-toggle");

                $("#liConfiguracao").addClass("disabled");
                $("#aConfiguracao").removeAttr("data-toggle");
            }
        });
block stylesheets
    style
        .tabs {
            padding: 15px 50px;
        }


block content

    ul.nav.nav-tabs(role='tablist')
        li#liCliente.active
            a#aCliente(data-toggle="tab" href='#cliente') Cliente
         li#liContato
            a#aContato(data-toggle="tab" href='#contato') Contato
         li#liConfiguracao
            a#aConfiguracao(data-toggle="tab" href='#configuracao') Configuração

    .tab-content
        #cliente.tab-pane.fade.in.active
            .tabs
                {% crispy form_cliente %}

        #contato.tab-pane
            .tabs
                if status != 'create'
                    table.table
                        thead
                            td Nome
                            td Editar
                            td Exluir
                        tbody
                            tr
                                each contato in contatos
                                    td #{contato.nome}
                                    td
                                        a.glyphicon.glyphicon-edit(href="{% url 'clientes:contato_edit' contato.id %}") Editar
                                    td
                                        a.glyphicon.glyphicon-trash(href="{% url 'clientes:contato_delete' contato.id %}") Apagar

        #configuracao.tab-pane.fade
            .tabs
                if status != 'create'
                    .barra-botoes
                        .btn-group
                            button.btn-sm#new-configuracao(type="button" class="btn btn-default") Novo
                    table.table
                        thead
                            td Nome
                            td Editar
                            td Excluir
                        tbody
                            each configuracao in configuracoes
                                tr
                                    td #{configuracao.servidor}:#{configuracao.porta}
                                    td
                                        a.glyphicon.glyphicon-edit(href="{% url 'clientes:configuracao_edit' configuracao.id %}") Editar
                                    td
                                        a.glyphicon.glyphicon-trash(href="{% url 'clientes:configuracao_delete' configuracao.id %}") Apagar

    if status != 'create'
        #myModal.modal.fade
          .modal-dialog
            .modal-content
              .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4.modal-title Cadastro
              .modal-body
                .form-configuracao
                    {% crispy form_configuracao %}
                .form-contato
                    {% crispy form_contato %}


