extends base.jade

block content
    h1 Configuração
    table
        thead
            td Nome
            td Editar
            td Excluir
        tbody
            each configuracao in object_list
                tr
                    td #{configuracao.servidor}:#{configuracao.porta}
                    td
                        a(href="{% url 'clientes:configuracao_edit' configuracao.id %}") edit
                    td
                        a(href="{% url 'clientes:configuracao_delete' configuracao.id %}") delete

    a(href="{% url 'clientes:configuracao_new' id %}") New
