extends base.jade

block content
    h1 Contato
    ul
        each contato in object_list
            li
                #{contato.nome}
                a(href="{% url 'clientes:contato_edit' contato.id %}") edit #{' '}
                a(href="{% url 'clientes:contato_delete' contato.id %}") delete #{' '}

    a(href="{% url 'clientes:contato_new' %}") New
