extends base.jade

block content
    h1 Contato
    table
        thead
            td Nome
            td Editar
            td Exluir
        tbody
            tr
                each contato in object_list
                    td #{contato.nome}
                    td 
                        a(href="{% url 'clientes:contato_edit' contato.id %}") edit
                    td 
                        a(href="{% url 'clientes:contato_delete' contato.id %}") delete

    a(href="{% url 'clientes:contato_new' id %}") New
